.roboto{
    font-family: 'Roboto', sans-serif;
}

.lobster{
    font-family: 'Lobster', cursive;
}

.poiret{
    font-family: 'Poiret One', cursive;
}

.fredoka{
    font-family: 'Fredoka One', cursive;
}

.pacifico{
    font-family: 'Pacifico', cursive;
}

.kaushuan{
    font-family: 'Kaushan Script', cursive;
}

.ubuntu{
    font-family: 'Ubuntu Condensed', sans-serif;
}